In [5]:
import pandas as pd
import numpy as np

In [6]:
customers = pd.read_csv("Customer_Feedback_Data.csv")
products = pd.read_csv("Product_Offering_Data.csv")
transactions = pd.read_csv("Transaction_Data.csv")

In [8]:
customers.head()
products.head()
transactions.head()

# General info
customers.info()
products.info()
transactions.info()

# Summary statistics
customers.describe()
transactions.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              5050 non-null   int64
 1   Satisfaction_Score       4949 non-null   float64
 2   Feedback_Comments        5050 non-null   object
 3   Likelihood_to_Recommend  5050 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 157.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_ID           15 non-null     int64
 1   Product_Name         15 non-null     object
 2   Product_Type         15 non-null     object
 3   Risk_Level           15 non-null     object
 4   Target_Age_Group     0 non-null      float64
 5   Target_Income_Group  15 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 852.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5050 non-null   int64
 1   Customer_ID         5050 non-null   int64
 2   Transaction_Date    5050 non-null   object
 3   Transaction_Amount  4950 non-null   float64
 4   Transaction_Type    5050 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 197.4+ KB

       Transaction_ID  Customer_ID  Transaction_Amount
count     5050.000000  5050.000000         4950.000000
mean      2498.927129   504.692871         3094.726465
std       1443.059092   291.593793        14818.501011
min          1.000000     1.000000           10.000000
25%       1250.250000   251.250000         1239.000000
50%       2500.500000   509.000000         2483.000000
75%       3745.750000   764.000000         3706.000000
max       5000.000000  1000.000000       480300.000000

In [9]:
    customers.isnull().sum()
    products.isnull().sum()
    transactions.isnull().sum()

Transaction_ID          0
Customer_ID             0
Transaction_Date        0
Transaction_Amount    100
Transaction_Type        0
dtype: int64

In [13]:
transactions['Transaction_Amount'] = transactions['Transaction_Amount'].fillna(transactions['Transaction_Amount'].median())

In [14]:
transactions.isnull().sum()

Transaction_ID        0
Customer_ID           0
Transaction_Date      0
Transaction_Amount    0
Transaction_Type      0
dtype: int64

In [19]:
customers['Feedback_Comments'] = customers['Feedback_Comments'].fillna("Unknown")

In [20]:
customers.isnull().sum()

Customer_ID                  0
Satisfaction_Score         101
Feedback_Comments            0
Likelihood_to_Recommend      0
dtype: int64

In [22]:
customers['Satisfaction_Score'] = customers['Satisfaction_Score'].fillna(customers['Satisfaction_Score'].mean())
customers['Satisfaction_Score'] = customers['Satisfaction_Score'].fillna(customers['Satisfaction_Score'].median())
customers.dropna(subset=['Satisfaction_Score'], inplace=True)

In [23]:
customers.isnull().sum()

Customer_ID                0
Satisfaction_Score         0
Feedback_Comments          0
Likelihood_to_Recommend    0
dtype: int64

In [24]:
customers.drop_duplicates(inplace=True)
transactions.drop_duplicates(inplace=True)
products.drop_duplicates(inplace=True)

In [28]:
# Customers
print("Duplicates in customers:", customers.duplicated().sum())
customers.drop_duplicates(inplace=True)

# Transactions
print("Duplicates in transactions:", transactions.duplicated().sum())
transactions.drop_duplicates(inplace=True)

# Products
print("Duplicates in products:", products.duplicated().sum())
products.drop_duplicates(inplace=True)

Duplicates in customers: 0
Duplicates in transactions: 0
Duplicates in products: 0

In [30]:
print(transactions.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date',
       'Transaction_Amount', 'Transaction_Type'],
      dtype='object')

In [31]:
transactions['Transaction_Date'] = pd.to_datetime(transactions['Transaction_Date'])

In [38]:
products['Product_Type'] = products['Product_Type'].str.title().str.strip()
products['Risk_Level'] = products['Risk_Level'].str.upper().str.strip()

In [40]:
transactions.head()
products.head()

,Product_ID,Product_Name,Product_Type,Risk_Level,Target_Age_Group,Target_Income_Group
0,1,Platinum Credit Card,Credit Card,MEDIUM,NaN,Medium
1,2,Gold Savings Account,Savings Account,LOW,NaN,Low
2,3,High-Yield Investment Account,Investment,HIGH,NaN,High
3,4,Mortgage Loan,Loan,MEDIUM,NaN,High
4,5,Auto Loan,Loan,MEDIUM,NaN,Medium

In [41]:
transactions.dtypes
products.dtypes

Product_ID               int64
Product_Name            object
Product_Type            object
Risk_Level              object
Target_Age_Group       float64
Target_Income_Group     object
dtype: object

In [42]:
products['Product_Type'].unique()
products['Risk_Level'].unique()

array(['MEDIUM', 'LOW', 'HIGH'], dtype=object)

In [43]:
transactions.info()
products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5000 non-null   int64
 1   Customer_ID         5000 non-null   int64
 2   Transaction_Date    5000 non-null   datetime64[ns]
 3   Transaction_Amount  5000 non-null   float64
 4   Transaction_Type    5000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 234.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_ID           10 non-null     int64
 1   Product_Name         10 non-null     object
 2   Product_Type         10 non-null     object
 3   Risk_Level           10 non-null     object
 4   Target_Age_Group     0 non-null      float64
 5   Target_Income_Group  10 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 560.0+ bytes

In [45]:
print(customers.columns)
print(transactions.columns)

Index(['Customer_ID', 'Satisfaction_Score', 'Feedback_Comments',
       'Likelihood_to_Recommend'],
      dtype='object')
Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date',
       'Transaction_Amount', 'Transaction_Type'],
      dtype='object')

In [70]:
transactions = pd.DataFrame({
    "Transaction_ID": [1, 2, 3],
    "Customer_ID": [101, 102, 101],
    "Transaction_Date": ["2026-01-01", "2026-01-02", "2026-01-03"],
    "Transaction_Amount": [100, 200, 150],
    "Transaction_Type": ["Purchase", "Purchase", "Purchase"],
    "Product_ID": ["P001", "P002", "P001"]  # <-- Add this column
})

In [75]:
df = customers.merge(transactions, on='Customer_ID', how='left')

df['Product_ID'] = df['Product_ID'].astype(str)
products['Product_ID'] = products['Product_ID'].astype(str)

df_full = df.merge(products, on="Product_ID", how="left")

In [76]:
products.columns

Index(['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level',
       'Target_Age_Group', 'Target_Income_Group'],
      dtype='object')

In [77]:
df.head()

,Customer_ID,Satisfaction_Score,Feedback_Comments,Likelihood_to_Recommend,Transaction_ID,Transaction_Date,Transaction_Amount,Transaction_Type,Product_ID
0,1,10.0,Very satisfied,9,NaN,NaN,NaN,NaN,nan
1,2,3.0,Very satisfied,3,NaN,NaN,NaN,NaN,nan
2,3,10.0,Very satisfied,1,NaN,NaN,NaN,NaN,nan
3,4,7.0,Needs improvement,4,NaN,NaN,NaN,NaN,nan
4,5,8.0,Unsatisfactory,7,NaN,NaN,NaN,NaN,nan

In [56]:
# Total transaction amount per customer
df_total = df.groupby('Customer_ID')['Transaction_Amount'].sum().reset_index()
df_total.rename(columns={'Transaction_Amount': 'TotalTransactionAmount'}, inplace=True)

# Number of transactions per customer
df_count = df.groupby('Customer_ID')['Transaction_ID'].count().reset_index()
df_count.rename(columns={'Transaction_ID': 'NumTransactions'}, inplace=True)

# Merge totals and counts
df_summary = df_total.merge(df_count, on='Customer_ID')
df_summary.head()

   Customer_ID  TotalTransactionAmount  NumTransactions
0            1                 33672.0               12
1            2                 14721.0                6
2            3                  4614.0                3
3            4                 49770.0               12
4            5                133182.0               45

In [58]:
df_feedback = df.groupby('Customer_ID')['Satisfaction_Score'].mean().reset_index()
df_feedback.rename(columns={'Satisfaction_Score':'AvgSatisfactionScore'}, inplace=True)

df_summary = df_summary.merge(df_feedback, on='Customer_ID', how='left')

df_summary.head()

   Customer_ID  TotalTransactionAmount  NumTransactions  AvgSatisfactionScore
0            1                 33672.0               12              8.500000
1            2                 14721.0                6              4.333333
2            3                  4614.0                3              8.333333
3            4                 49770.0               12              5.500000
4            5                133182.0               45              6.444444

In [59]:
# Account age (days since first transaction)
first_tx = df.groupby('Customer_ID')['Transaction_Date'].min().reset_index()
first_tx.rename(columns={'Transaction_Date':'FirstTransactionDate'}, inplace=True)
df = df.merge(first_tx, on='Customer_ID', how='left')
df['AccountAgeDays'] = (pd.to_datetime('2026-01-27') - df['FirstTransactionDate']).dt.days
_

'{"dataframes": [{"name": "customers", "type": "DataFrame", "hash": "ff3ec52efd0e690e473884ca554722dc5a651f20beb270f0a332d914c9f38c1d", "cols": [["Customer_ID", "int64"], ["Satisfaction_Score", "float64"], ["Feedback_Comments", "object"], ["Likelihood_to_Recommend", "int64"]], "dtypesStr": "Customer_ID                  int64\\nSatisfaction_Score         float64\\nFeedback_Comments           object\\nLikelihood_to_Recommend      int64\\ndtype: object"}, {"name": "df", "type": "DataFrame", "hash": "0bd9b19caff006df8a806dd5fdcdcaed17e9822a38e448432dde0406d37b2ae3", "cols": [["Customer_ID", "int64"], ["Satisfaction_Score", "float64"], ["Feedback_Comments", "object"], ["Likelihood_to_Recommend", "int64"], ["Transaction_ID", "float64"], ["Transaction_Date", "datetime64[ns]"], ["Transaction_Amount", "float64"], ["Transaction_Type", "object"]], "dtypesStr": "Customer_ID                         int64\\nSatisfaction_Score                float64\\nFeedback_Comments                  object\\nLikelihood_to_Recommend             int64\\nTransaction_ID                    float64\\nTransaction_Date           datetime64[ns]\\nTransaction_Amount                float64\\nTransaction_Type                   object\\ndtype: object"}, {"name": "df_count", "type": "DataFrame", "hash": "68ca531aa1ac2187b9604b10862d36be33bbad4ae9d693a186789b413ab5080e", "cols": [["Customer_ID", "int64"], ["NumTransactions", "int64"]], "dtypesStr": "Customer_ID        int64\\nNumTransactions    int64\\ndtype: object"}, {"name": "df_feedback", "type": "DataFrame", "hash": "3d2e7e291042c7e09e868de82896e74b907ed09062856039ba02bebae3db9bbc", "cols": [["Customer_ID", "int64"], ["AvgSatisfactionScore", "float64"]], "dtypesStr": "Customer_ID               int64\\nAvgSatisfactionScore    float64\\ndtype: object"}, {"name": "df_summary", "type": "DataFrame", "hash": "5af517ff0ead9b67b9b81a96b5e4839b09edc41962cf3d616434bd0a0a331ed6", "cols": [["Customer_ID", "int64"], ["TotalTransactionAmount", "float64"], ["NumTransactions", "int64"], ["AvgSatisfactionScore", "float64"]], "dtypesStr": "Customer_ID                 int64\\nTotalTransactionAmount    float64\\nNumTransactions             int64\\nAvgSatisfactionScore      float64\\ndtype: object"}, {"name": "df_total", "type": "DataFrame", "hash": "e552027bbc92ef9fe0a8226e1ceecdacfb7b1878faea8ca3022402e926b6b77b", "cols": [["Customer_ID", "int64"], ["TotalTransactionAmount", "float64"]], "dtypesStr": "Customer_ID                 int64\\nTotalTransactionAmount    float64\\ndtype: object"}, {"name": "products", "type": "DataFrame", "hash": "f399256e2a8d9195ed855ab0aafc25621f80dafd67449127e304eef7181b0bfb", "cols": [["Product_ID", "int64"], ["Product_Name", "object"], ["Product_Type", "object"], ["Risk_Level", "object"], ["Target_Age_Group", "float64"], ["Target_Income_Group", "object"]], "dtypesStr": "Product_ID               int64\\nProduct_Name            object\\nProduct_Type            object\\nRisk_Level              object\\nTarget_Age_Group       float64\\nTarget_Income_Group     object\\ndtype: object"}, {"name": "transactions", "type": "DataFrame", "hash": "926fb09716768b93abec226c8e72a6bb6c249c4994ec5b3f4144ad5205f8aac6", "cols": [["Transaction_ID", "int64"], ["Customer_ID", "int64"], ["Transaction_Date", "datetime64[ns]"], ["Transaction_Amount", "float64"], ["Transaction_Type", "object"]], "dtypesStr": "Transaction_ID                 int64\\nCustomer_ID                    int64\\nTransaction_Date      datetime64[ns]\\nTransaction_Amount           float64\\nTransaction_Type              object\\ndtype: object"}], "user": "edsamae"}'

In [62]:
df.to_csv("FinMark_Cleaned.csv", index=False)

In [66]:
print(df.columns)
print(products.columns)

Index(['Customer_ID', 'Satisfaction_Score', 'Feedback_Comments',
       'Likelihood_to_Recommend', 'Transaction_ID', 'Transaction_Date',
       'Transaction_Amount', 'Transaction_Type'],
      dtype='object')
Index(['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level',
       'Target_Age_Group', 'Target_Income_Group'],
      dtype='object')

In [67]:
print(transactions.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date',
       'Transaction_Amount', 'Transaction_Type'],
      dtype='object')